<mat-toolbar class="mat-elevation-z1 headerCls">
  <div style="width:100%">
      <div class="headerLeft">
          <span class="logoHolder"><img src="assets/images/logo-cloudline.png"/></span>
          <div class="verticalLine"></div>
          <mat-icon (click)="menuClick()" class="menuIcon">menu</mat-icon>
      </div>
      <div class="headerRight">
        <a>Login | Registration</a>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>supervised_user_circle  </mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voicemail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
      </div>
  </div>
  
</mat-toolbar>
