.footerCls{position: fixed; box-shadow: -1px -1px 5px #333; bottom:0px; background: #fff;}
.copyrightText{font-size: 14px; color: #3a3b3a;}
.footsubLinks{font-size: 14px; color: #00a17d; text-align: right;}