<mat-card class="col-4 offset-4 broadCastCard">
  <mat-card-title class="cardTitle">{{ cardTitle }}</mat-card-title>
  <span class="confIcon"></span>
  <form class="example-form">        
    <mat-form-field class="col-12 broadCastForm">
      <input matInput placeholder="Conference ID" type="text">
    </mat-form-field>

    <mat-form-field class="col-12 broadCastForm">
      <input matInput placeholder="Password" type="password">
    </mat-form-field>

    <!-- <mat-form-field class="col-12 broadCastForm">
      <input matInput placeholder="Your Name" type="text">
    </mat-form-field> -->

    <button mat-stroked-button class="btnWhite">BROADCAST</button>
  </form>
</mat-card>