<ngx-flip [flip]="flip">
    <!-- <app-join-conf *ngIf="!showDisplay" (callingBroadCast)="displayBroadcast()" front></app-join-conf>
    <app-broadcast *ngIf="showDisplay" back></app-broadcast> -->
    <app-join-conf (callingBroadCast)="displayBroadcast()" front></app-join-conf>
    <app-broadcast back></app-broadcast>
</ngx-flip>

<!-- <ngx-flip [flip]="flip">
    <div front class="front">Front</div>
    <div back class="back">Back</div>
</ngx-flip> 
<br>
<button (click)="rotate()">Flip</button>-->
<button mat-icon-button [matMenuTriggerFor]="menu" class="plusIcon">
    <mat-icon><img src="assets/images/icon-plus.png"/></mat-icon>
</button>
<mat-menu #menu="matMenu" class="subMenuHolder">
    <button mat-menu-item class="subMenuIcon">
        <mat-icon><img src="assets/images/icon-joinconf-dark.png"/></mat-icon>
        <span class="subMenuIconText">JOIN CONFERENCE</span>
    </button>
    <button mat-menu-item class="subMenuIcon">
        <mat-icon><img src="assets/images/icon-schedule-conf.png"/></mat-icon>
        <span class="subMenuIconText">SCHEDULE CONFERENCE</span>
    </button>
    <button mat-menu-item class="subMenuIcon">
        <mat-icon><img src="assets/images/icon-my-conf.png"/></mat-icon>
        <span class="subMenuIconText">MY CONFERENCE</span>
    </button>
</mat-menu>