<mat-card class="col-4 offset-4 joinConfCard">
  <mat-card-title class="cardTitle">{{ cardTitle }}</mat-card-title>
  <span class="confIcon" (click)="showBroadCast()"></span>
  <form class="example-form">        
    <mat-form-field class="col-12 joinConfForm">
      <input matInput placeholder="Conference ID" type="text">
    </mat-form-field>

    <mat-form-field class="col-12 joinConfForm">
      <input matInput placeholder="Password" type="password">
    </mat-form-field>

    <mat-form-field class="col-12 joinConfForm">
      <input matInput placeholder="Your Name" type="text">
    </mat-form-field>

    <button mat-stroked-button class="btnGreen" (click)="gotoHome()">JOIN HERE</button>
  </form>
</mat-card>