<mat-nav-list class="sideMenuList">
  <a mat-list-item class="sideMenuName"><span><img src="assets/images/icon-menu-video.png"></span>Video</a>
  <a mat-list-item class="sideMenuName"><span><img src="assets/images/icon-menu-sharing.png"></span>Screen/App Sharing</a>
  <a mat-list-item class="sideMenuName"><span><img src="assets/images/icon-menu-files.png"></span>Files</a>
  <a mat-list-item class="sideMenuName"><span><img src="assets/images/icon-menu-whiteboard.png"></span>Whiteboard</a>
  <a mat-list-item class="sideMenuName"><span><img src="assets/images/icon-menu-poll.png"></span>Poll</a>
</mat-nav-list>
