<div class="col-12">
  <div class="row">
    <div class="col-9">
      <div class="col-12 videoHolderIcons">
        <div class="row justify-content-md-center">
          <div class="col-md-1 videoIcons">
            <img src="assets/images/icon-video.png">
          </div>
          <div class="col-md-1 videoIcons">
             <img src="assets/images/icon-mike.png">
          </div>
          <div class="col-md-1 videoIcons">
             <img src="assets/images/icon-audio.png">
          </div>
          <div class="col-md-1 videoIcons">
            <img src="assets/images/icon-layout-01.png">
          </div>
          <div class="col-md-1 videoIcons">
            <img src="assets/images/icon-layout-02.png">
          </div>
          <div class="col-md-1 videoIcons">
            <img src="assets/images/icon-fulscreen.png">
          </div>
        </div>
      </div>
      <div class="col-12 videoHolder">

      </div>
    </div>
    <div class="col-3">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header class="accordionHeader">
                <mat-panel-title class="accordionTitle">
                  <span><img src="assets/images/icon-right-myvideo.png"></span> My Videos
                </mat-panel-title>                
              </mat-expansion-panel-header>
              <div class="col-12 accordionContent row">
                accordion content
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header class="accordionHeader">
                <mat-panel-title class="accordionTitle">
                  <span><img src="assets/images/icon-right-participants.png"></span> Participants
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header class="accordionHeader">
                <mat-panel-title class="accordionTitle">
                  <span><img src="assets/images/icon-right-chat.png"></span> Chats
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header class="accordionHeader">
                <mat-panel-title class="accordionTitle">
                  <span><img src="assets/images/icon-right-settings.png"></span> Settings
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
  </div>  
</div>
